/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {List}            - text-shadow list
@function stroke($stroke, $color) {
  $shadow: ();
  $from: $stroke * -1;

  @for $i from $from through $stroke {
    @for $j from $from through $stroke {
      $shadow: append($shadow, $i $j 0 $color, comma);
    }
  }

  @return $shadow;
}

.thumbnail {
  $border-width: 30px;
  $top-bar-height: 100px;

  &[data-theme="frame"] {
    --color-border: #ffd866;
    --color-bg: #ffd866;
    --color-text: #000;
    --bg-position-y: 50%;
    --bg-position-x: 50%;
    --bg-zoom: 1;
    --text-size: 100px;

    background-color: var(--color-bg, #ffd866);
    border: solid $border-width var(--color-border, #ffd866);
    position: relative;
    background-image: url('../images/defaultBackground.jpg');
    background-size: cover;
    background-position: var(--bg-position-x, 50%) var(--bg-position-y, 50%);
    background-repeat: no-repeat;
    
    &[data-bg-mode="advanced"] {
      background-size: calc(var(--bg-zoom, 1) * 100%);
      background-position: var(--bg-position-x, 0px) var(--bg-position-y, 0px);
      background-repeat: no-repeat;
      background-attachment: scroll;
      overflow: visible;
    }
  }
  
  transform: translate(-50%, -50%) scale(1);
  position: absolute;
  inset: 50% auto auto 50%;
  width: 1280px;
  height: 720px;
  box-sizing: border-box;

  @for $i from 10 through 2 {
    @media screen and (max-width: (384px + (1280px * $i/10))) {
      transform: translate(-50%, -50%) scale(($i - 1)/10);
    }
  }

  &__date {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--color-border, #ffd866);
    color: var(--color-text, #000);
    font-weight: bold;
    font-size: 120px * 1 / 0.8;
    line-height: 0.8;
    padding: 0 0 $border-width $border-width;
    letter-spacing: $border-width;
    margin-right: -$border-width;
    z-index: 1;

    .translucent {
      opacity: 0.4;
    }
  }

  &__icon {
    background-color: var(--color-border, #ffd866);
    padding: 0 $border-width/2 $border-width/2 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;

    &.monochrome {
      .thumbnail__icon-img {
        color: var(--color-text, #000);
      }
    }

    &.hidden {
      display: none !important;
    }
  }

  &__icon-img {
    display: none;
    width: 120px + $border-width/2;
    height: 120px + $border-width/2;
    
    &[data-icon="alert"] { color: #ffb300; }
    &[data-icon="info"] { color: #27632d; }
    &[data-icon="sun"] { color: #a43939; }
    &[data-icon="moon"] { color: #4a5976; }
  }

  .thumbnail__icon[data-icon="alert"] > .thumbnail__icon-img[data-icon="alert"],
  .thumbnail__icon[data-icon="info"] > .thumbnail__icon-img[data-icon="info"],
  .thumbnail__icon[data-icon="sun"] > .thumbnail__icon-img[data-icon="sun"],
  .thumbnail__icon[data-icon="moon"] > .thumbnail__icon-img[data-icon="moon"] {
    display: block !important;
  }

  &__text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: var(--text-size, 100px);
    color: #fff;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
    padding: $border-width;
    text-shadow: stroke(10px, #000);
  }
}
