/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {List}            - text-shadow list
@function stroke($stroke, $color) {
  $shadow: ();
  $from: $stroke * -1;

  @for $i from $from through $stroke {
    @for $j from $from through $stroke {
      $shadow: append($shadow, $i $j 0 $color, comma);
    }
  }

  @return $shadow;
}

.thumbnail[data-theme="frame"] {
  --color-bg: #ffd866;
  --color-text: #000;
  --bg-position-y: 50%;
  --text-size: 100px;
  $border-width: 30px;
  $top-bar-height: 100px;

  background-color: var(--color-bg, #ffd866);
  border: solid $border-width var(--color-bg, #ffd866);
  position: relative;
  background-image: url('../images/defaultBackground.jpg');
  background-size: cover;
  background-position: center var(--bg-position-y, 50%);
  background-repeat: no-repeat;

  .date {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--color-bg, #ffd866);
    color: var(--color-text, #000);
    font-weight: bold;
    font-size: 120px * 1 / 0.8;
    line-height: 0.8;
    padding: 0 0 $border-width $border-width;
    letter-spacing: $border-width;
    margin-right: -$border-width;
    z-index: 1;

    & > .translucent {
      opacity: 0.4;
    }
  }

  .icon {
    background-color: var(--color-bg, #ffd866);
    padding: 0 $border-width/2 $border-width/2 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;

    &__img {
      display: none;
      width: 120px + $border-width/2;
      height: 120px + $border-width/2;
    }

    &.monochrome > .icon__img {
      color: var(--color-text, #000) !important;
    }

    &.hidden {
      display: none !important;
    }
  }

  .icon__img[data-icon="alert"] { color: #ffb300; }
  .icon__img[data-icon="info"] { color: #27632d; }
  .icon__img[data-icon="sun"] { color: #a43939; }
  .icon__img[data-icon="moon"] { color: #4a5976; }

  .icon[data-icon="alert"] > .icon__img[data-icon="alert"],
  .icon[data-icon="info"] > .icon__img[data-icon="info"],
  .icon[data-icon="sun"] > .icon__img[data-icon="sun"],
  .icon[data-icon="moon"] > .icon__img[data-icon="moon"] {
    display: block !important;
  }

  .text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: var(--text-size, 100px);
    color: #fff;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
    padding: $border-width;
    text-shadow: stroke(10px, #000);
  }
}
