:root {
  --ease-bounce: cubic-bezier(0.18, 0.89, 0.32, 1.28);
  --color-primary: cornflowerblue;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: #f6f5fa;
  min-width: 860px;
  min-height: 375px;
  height: 100vh;
}

svg,
img {
  user-select: none;
}

