:root {
  --ease-bounce: cubic-bezier(0.18, 0.89, 0.32, 1.28);
  --color-primary: cornflowerblue;
}


body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 100vh;
  background: #151515;
  color: #fff;
}

svg,
img {
  user-select: none;
}

h2 {
  margin: 0;
}

.grid {
  display: grid;
  grid-template: auto / 24rem auto;

  &__controls {
    min-width: 0;
    background: #333;
    // box-shadow: 0 0 1rem #0004;

    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  &__preview {
    position: relative;
    min-width: 1280px * 0.1;
    min-height: 720px * 0.1;
  }
}

.thumbnail {
  transform: translate(-50%, -50%) scale(1);
  position: absolute;
  inset: 50% unset unset 50%;
  width: 1280px;
  height: 720px;
  box-sizing: border-box;

  @for $i from 10 through 2 {
    @media screen and (max-width: 384px + 1280px * $i/10) {
      transform: translate(-50%, -50%) scale(($i - 1)/10);
    }
  }
}

#download {
  display: block;
  text-align: center;
  text-decoration: none;
  background: #ffd866;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 1rem 0;
}

.controls {
  flex-grow: 1;
  display: block;
  padding: 1rem;
  margin: 0;
  list-style: none;
  overflow: auto;

  .control {
    margin: 1rem 0;

    .control__label {
      display: block;
      padding-bottom: 0.25rem;
    }

    .control__input {
      width: 100%;
      box-sizing: border-box;
      background: #000;
      border: none;
      padding: 0.5rem 0.75rem;
      color: #fff;
      line-height: 1;
      min-height: 2.5rem;
      border-radius: 0.333rem;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.67);

      &[type="color"] {
        height: 2.25rem;
        padding: 0.25rem 0.5rem;
      }
    }

    .control__radio {
      display: flex;
      flex-wrap: wrap;

      & > div {
        flex-grow: 1;
        display: flex;
        align-items: center;
        margin: 0.5rem 0;

        & > label {
          flex-grow: 1;
          padding-left: 0.333rem;
          cursor: pointer;
        }

        & input:disabled ~ label {
          cursor: not-allowed;
        }

        & > input {
          cursor: pointer;

          &:disabled {
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
